.ActivityStudio{
    margin: 10px;
    background-color: #A11CF9;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.ZDSelfDiary{
    margin: 10px;
    background-color: #A11CF9;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.ZDMotivationalShala{
    margin: 10px;
    background-color: #A11CF9;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.AdiviseFromWise{
    margin: 10px;
    background-color: #A11CF9;
    border-radius: 10px;
    padding: 10px;
    color: white;
}