.space {
  margin: 20px;
  text-align: left;
}
.btn-JoiningForm {
  background: linear-gradient(to right, #a11cf9, #7201c8);
  border-radius: 10px;
  color: white;
  text-align: center;
}
#Yourgoal {
  height: 40px;
  width: 400px;
  border-color: white;
  border-radius: 10px;
  background: lightgray;
}
#Achievegoal {
  height: 80px;
  width: 400px;
  border-color: white;
  border-radius: 10px;
  background: lightgray;
}
#Insperation {
  height: 40px;
  width: 400px;
  border-color: white;
  border-radius: 10px;
  background: lightgray;
}
.btn-submit {
  background: linear-gradient(to left, #a11cf9, #7201c8);
  color: white;
  border-radius: 30px;
  width: 150px;
  margin-left: 100px;
}
.form-check-inline {
  margin-left: 0px;
}
